@import "src/styles/abstracts/variables.scss";

.about-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0.25turn,
    $light-background-color-primary 0 45%,
    $light-background 45% 100%
  );
}
