@import "src/styles/abstracts/variables.scss";

.button-dark {
  width: 7em;
  height: 2.5em;
  background-color: $light-text-color;
  border: 2px solid $light-text-color;
  border-radius: 2em;
}

.button-dark:hover {
  background: none;
  border: 2px solid $light-text-color;
}
