//Colors
$light-text-color: #606c38;
$light-text-color-light: #a5be00;
$light-background-color-primary: beige;
$light-background-color-secondary: #afbc88;
$light-background: #fff;
$box-shadow-light: 0 0 8px rgba(0, 0, 0, 0.2);

$dark-text-color: beige;
$dark-text-color-light: #a5be00;
$dark-background-color-primary: #606c38;
$dark-background-color-secondary: #afbc88;
$dark-background: #333;
$box-shadow-dark: 0 0 8px rgba(255, 255, 255, 0.567);

// Font

@font-face {
  font-family: OpenSans-Semibold;
  src: url(/assets/fonts/OpenSans-VariableFont_wdth,wght);
}
