//Colors
$light-text-color: #606c38;
$light-text-color-light: #a5be00;
$light-background-color-primary: beige;
$light-background-color-secondary: #afbc88;
$light-background: #fff;

$dark-text-color: #afbc88;
$dark-background-color: #333;

//Shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

// Font

@font-face {
  font-family: OpenSans-Semibold;
  src: url(/assets/fonts/OpenSans-VariableFont_wdth,wght);
}
