@import "./abstracts/variables.scss";

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .page {
    height: 100%;
    margin-top: 4.1em;
    overflow: hidden;
  }

  .page-content.overflow-visible {
    overflow: auto;
  }

  &.light {
    color: $light-text-color;
    background-color: $light-background-color;

    a {
      color: $light-text-color;
    }

    .circle {
      outline-color: $light-text-color;
    }
  }

  &.dark {
    color: $dark-text-color;
    background-color: $dark-background-color;

    a {
      color: $dark-text-color;
    }

    .circle {
      outline-color: $dark-text-color;
    }
  }
}
