@import "./abstracts/variables.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;

  .page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &.light {
    color: $light-text-color;
    background-color: $light-background-color-primary;

    a {
      color: $light-text-color;
    }

    .circle {
      outline-color: $light-text-color;
    }
  }

  &.dark {
    color: $dark-text-color;
    background-color: $dark-background-color;

    a {
      color: $dark-text-color;
    }

    .circle {
      outline-color: $dark-text-color;
    }
  }
}
