@import "src/styles/abstracts/variables.scss";

.form-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .success-message,
  .error-message {
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.7em 1.5em;
    font-size: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .success-message {
    background-color: #4caf50;
    color: #fff;
    animation: fadeOut 5s forwards;
  }

  .error-message {
    background-color: #f44336;
    color: #fff;

    .second-line {
      padding-top: 0.3em;
    }

    .email-link {
      color: blue;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 31em;
    background-color: $light-background;
    border-radius: 0.5em;
    &.light {
      box-shadow: $box-shadow-light;
    }
    &.dark {
      box-shadow: $box-shadow-dark;
    }
    label {
      display: flex;
      font-weight: 700;
      margin-bottom: 1em;
      margin-top: 1em;
    }

    input,
    textarea {
      width: 20em;
      padding: 0.5em;
      border: 1px solid rgba(230, 230, 230, 0.844);
      background-color: rgba(230, 230, 230, 0.844);
      border-radius: 0.3em;
    }

    textarea {
      height: 10em;
      resize: none;
    }

    .form-button {
      padding-top: 1.5em;
    }
    .sub-container {
      position: relative;

      .empty-message {
        position: absolute;
        right: 0;
        font-size: 0.7em;
        color: red;
        padding-top: 0.2em;
      }
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
