@import "src/styles/abstracts/variables.scss";

.h1-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  &.light {
    color: $light-text-color;
  }
  &.dark {
    color: $dark-text-color;
  }
}
