@import "src/styles/abstracts/variables.scss";

.cv-skills-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-bottom: 1em;
  padding: 1.5em;
  border-radius: 0.5em;
  box-shadow: $box-shadow;
  background-color: $light-background;
  width: 75%;
}
