.navbar {
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  .switch {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .ant-space:first-of-type {
      margin-bottom: 0.3rem;
    }
  }
}
