@import "src/styles/abstracts/variables.scss";

.navbar-all-link {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;

  li {
    list-style: none;

    a {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 1rem;
      transition: 0.5s ease;
    }

    .active {
      &.light {
        color: $light-text-color;
      }
      &.dark {
        color: $dark-text-color;
      }
    }

    .inactive {
      &.light {
        color: $light-text-color-light;
      }
      &.dark {
        color: $dark-text-color-light;
      }
      opacity: 0.3;
    }
  }
}

ul:hover li a {
  &.light {
    color: $light-text-color !important;
  }
  &.dark {
    color: $dark-text-color !important;
  }
  opacity: 1.3 !important;
}

ul:hover li a:not(:hover) {
  &.light {
    color: $light-text-color-light !important;
  }
  &.dark {
    color: $dark-text-color-light !important;
  }
  opacity: 0.3 !important;
}
