@import "src/styles/abstracts/variables.scss";

.navbar {
  height: 3.1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  background-color: $light-background;

  .switch {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .ant-space:first-of-type {
      margin-bottom: 0.3rem;
    }
  }
}
