@import "src/styles/abstracts/variables.scss";

.projects-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5em;

  .title-container {
    display: flex;
    justify-content: space-between;

    button:hover {
      border: 2px solid $light-background;
    }
  }
}
