.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  padding: 1em;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
