@import "src/styles/abstracts/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  height: 3rem;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: $light-background;
}
