@import "src/styles/abstracts/variables.scss";

.cv-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 1.5em;

  .content-container {
    align-items: center;
    width: 90%;

    .title-container {
      display: flex;
      justify-content: space-between;
    }

    .skills,
    .experiences,
    .formation {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
