.cv-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 2em;

  .skills,
  .experiences,
  .formation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
