@import "src/styles/abstracts/variables.scss";

.cv-card-container {
  width: calc(100% - 3em);
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: auto;
  &.light {
    box-shadow: $box-shadow-light;
    background-color: $light-background;
  }
  &.dark {
    box-shadow: $box-shadow-dark;
    background-color: $dark-background;
  }
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1.5em;

  .left {
    .date {
      font-weight: 700;
    }

    .title {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-weight: 700;
      font-size: 1.2em;
    }

    .company {
      margin-bottom: 0.5em;
    }

    .location {
    }

    .link {
      margin-top: 1em;
    }
  }

  .right {
    padding-left: 0.5em;
    white-space: pre-line;

    .descritpion {
    }

    .skills {
      display: flex;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      margin-top: 1em;
      padding: 0.5em;
    }
  }
}
