@import "src/styles/abstracts/variables.scss";

.custom-link {
  display: flex;
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 3em;
  width: 7em;
  justify-content: center;
  &.light {
    background-color: $light-background-color-primary;
  }
  &.dark {
    background-color: $dark-background-color-primary;
  }
}

.custom-link:hover {
  &.light {
    border: 2px solid $light-text-color;
  }
  &.dark {
    border: 2px solid $dark-text-color;
  }
}
