@import "src/styles/abstracts/variables.scss";

.custom-link {
  display: flex;
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 3em;
  width: 6em;
  justify-content: center;
  background-color: $light-background-color-primary;
}

.custom-link:hover {
  border: 2px solid $light-text-color;
}
